html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: white;
  box-shadow: 0 0 0.5em;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: white;
  color: black;
  box-shadow: 0 0 0.5em;
}
/* Link */
h1 {
  font-size: 1.7rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

.header-links {
  margin-right: 1em;
}

.header-links > a:hover {
  background-color: rgb(114, 194, 248);
  border-radius: 0.5rem;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #203040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: black;
  padding: 1rem;
}
a.brand {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}
.badge {
  background-color: #a02020;
  color: #f8f8f8;
  border-radius: 50%;
  padding: 0.2rem 0.45rem;
  font-size: 1.2rem;
  margin-left: 0.1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 100 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 25rem;
  height: 100%;
  background-color: #ffffff;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
  box-shadow: 0 0 0.5em;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0 0.4rem;
  margin: 0 0.5rem 0.5rem;
  height: 3.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Rating */
.rating span {
  color: #f7c640;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 35rem;
  width: 100%;
}
img.large {
  width: 60%;
}

/* Card */
.card {
  border: 0.2rem #c0c0c0 solid;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0 0 0.15em;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a1;
  background-color: #c0c0c0;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0ff;
}
.alert-success {
  color: #1c1d1c;
  background-color: #acf87a;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 10rem;
  padding: 1rem;
  z-index: 1;
  background-color: #eeeeee;
  margin: 0;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown > a:hover {
  background-color: rgb(114, 194, 248);
  border-radius: 0.5rem;
}
/* Checkout Steps */
.checkoutSteps > div {
  border-top: 0.2rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bolder;
  text-align: center;
}

.checkoutSteps > div.active {
  border-top-color: #f08080;
  color: #f08080;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f8f8f8;
}
.table td,
.table th {
  text-align: center;
  border: 0.1rem solid #e4e2e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: none;
  margin-right: 0.5rem;
  background-color: white;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}
